[submodule "airports"]
	path = airports
	url = https://github.com/ModelEarth/airports
[submodule "better-auth"]
	path = better-auth
	url = https://github.com/ModelEarth/better-auth
[submodule "chat"]
	path = chat
	url = https://github.com/ModelEarth/chat
[submodule "cloud"]
	path = cloud
	url = https://github.com/ModelEarth/cloud
[submodule "cms"]
	path = cms
	url = https://github.com/ModelEarth/cms
	upstream = https://github.com/sveltia/sveltia-cms.git
	upstream-policy = merge-if-clean
[submodule "codechat"]
	path = codechat
	url = https://github.com/ModelEarth/codechat
[submodule "community-forecasting"]
	path = community-forecasting
	url = https://github.com/ModelEarth/community-forecasting
[submodule "comparison"]
	path = comparison
	url = https://github.com/ModelEarth/comparison
[submodule "data-pipeline"]
	path = data-pipeline
	url = https://github.com/ModelEarth/data-pipeline.git
[submodule "desktop"]
	path = desktop
	url = https://github.com/ModelEarth/desktop.git
[submodule "docker"]
	path = docker
	url = https://github.com/ModelEarth/docker
[submodule "engage"]
	path = engage
	url = https://github.com/ModelEarth/engage
[submodule "exiobase"]
	path = exiobase
	url = https://github.com/ModelEarth/exiobase
[submodule "feed"]
	path = feed
	url = https://github.com/ModelEarth/feed
[submodule "grid"]
	path = grid
	url = https://github.com/ModelEarth/grid
[submodule "home"]
	path = home
	url = https://github.com/ModelEarth/home
[submodule "io"]
	path = io
	url = https://github.com/ModelEarth/io
[submodule "localsite"]
	path = localsite
	url = https://github.com/ModelEarth/localsite
	shallow = true
[submodule "montage"]
	path = montage
	url = https://github.com/ModelEarth/montage.git
[submodule "products"]
	path = products
	url = https://github.com/ModelEarth/products
[submodule "profile"]
	path = profile
	url = https://github.com/ModelEarth/profile
[submodule "projects"]
	path = projects
	url = https://github.com/ModelEarth/projects
[submodule "realitystream"]
	path = realitystream
	url = https://github.com/ModelEarth/realitystream
[submodule "reports"]
	path = reports
	url = https://github.com/ModelEarth/reports
[submodule "requests"]
	path = requests
	url = https://github.com/ModelEarth/requests
[submodule "sanity"]
	path = sanity
	url = https://github.com/ModelEarth/sanity.git
[submodule "streamlit"]
	path = streamlit
	url = https://github.com/ModelEarth/streamlit
[submodule "swiper"]
	path = swiper
	url = https://github.com/ModelEarth/swiper
[submodule "team"]
	path = team
	url = https://github.com/ModelEarth/team
[submodule "trade"]
	path = trade
	url = https://github.com/ModelEarth/trade
[submodule "localcore"]
	path = localcore
	url = https://github.com/ModelEarth/localcore
[submodule "keys"]
	path = keys
	url = https://github.com/ModelEarth/keys
