name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive   # <--- THIS IS THE MAGIC LINE
          fetch-depth: 0

      - name: Copy submodule static files for auth-system
        run: |
          mkdir -p auth-system/public
          cp -r auth-system/public/* auth-system/public/

      - name: Copy localsite submodule files
        run: |
          mkdir -p localsite
          cp -r localsite/* localsite/


      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
